<div class="container">
    <h2>Movie Search</h2>
    <form novalidate #inputForm="ngForm">
        <div class="input-group mb-3">
            <input matInput name="Query" id="query" [(ngModel)]="query" type="text" class="form-control"
                placeholder="Movie Title" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2" (click)="getMovies()">Search</span>
        </div>
    </form>
    <div *ngIf="loading && !details">
        <p>Loading movies...</p>
    </div>
    <div *ngIf="loading && details">
        <p>Loading movie...</p>
    </div>
    <div *ngIf="!loading && movies.length == 0">
        <p>Enter a movie to search!</p>
    </div>
    <div *ngIf="!loading && totalResults == 0">
        <p>No movies found.</p>
    </div>
    <div *ngIf="!details && !loading">
        <ul class='movies'>
            <li *ngFor="let movie of movies" (click)="onSelect(movie)">
                <div class="card">
                    <h3><span>{{ movie.Title }} ({{ movie.Year }})</span></h3>
                    <div *ngIf="movie.Poster != 'N/A'; else notFound"><img src="{{movie.Poster}}" alt="Movie Poster" height="200" width="200"></div>
                    <ng-template #notFound><p>No poster found.</p></ng-template>
                </div>
                <br>
            </li>
        </ul>
        <nav *ngIf="!loading && movies.length != 0" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <div *ngIf="pageNumber == 1; else previousEnabled" class="page-item disabled">
                    <li class="page-item"><a class="page-link" (click)="getMoviesByPage(pageNumber - 1)">Previous</a>
                    </li>
                </div>
                <ng-template #previousEnabled>
                    <li class="page-item"><a class="page-link" (click)="getMoviesByPage(pageNumber - 1)">Previous</a>
                    </li>
                </ng-template>
                <h3>Page {{ pageNumber }} / {{ totalPages }}</h3>
                <div *ngIf="(pageNumber + 1) > totalPages; else nextEnabled" class="page-item disabled">
                    <li class="page-item"><a class="page-link" (click)="getMoviesByPage(pageNumber + 1)">Next</a>
                    </li>
                </div>
                <ng-template #nextEnabled>
                    <li class="page-item"><a class="page-link" (click)="getMoviesByPage(pageNumber + 1)">Next</a>
                    </li>
                </ng-template>
            </ul>
        </nav>
    </div>
    <div *ngIf="selectedMovie && details && !loading">
        <div class="card">
            <div class="row">
                <div class="col">
                    <h2>{{ selectedMovie.Title }} ({{ selectedMovie.Year }}):</h2>            
                    <div><strong>Director: </strong>{{selectedMovie.Director}}</div>
                    <div><strong>Box Office: </strong>{{selectedMovie.BoxOffice}}</div>
                    <div><strong>IMDB Rating: </strong>{{selectedMovie.imdbRating}}</div>
                    <div><strong>Plot: </strong>{{selectedMovie.Plot}}</div>
                    <div><strong>Actors: </strong>{{selectedMovie.Actors}}</div>
                    <div><strong>Awards: </strong>{{selectedMovie.Awards}}</div>
                    <div><strong>Ratings: </strong></div>
                    <ul class='Ratings'>
                        <li *ngFor="let rating of selectedMovie.Ratings">
                            <div class="rating">
                                <span>&emsp;{{ rating.Source }} ({{ rating.Value }})</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <div *ngIf="selectedMovie.Poster != 'N/A'; else notFound"><img src="{{selectedMovie.Poster}}" alt="Movie Poster" height="400" width="270"></div>
                    <ng-template #notFound><p>No poster found.</p></ng-template>
                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-light" (click)="back()">
            Back
        </button>
    </div>
</div>